* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

[class*=grid] {margin:0;}
[class*="col-"], [class*="col_"], [class~="col"] {padding: 0;}

html {scroll-behavior: smooth;}

/* Utility Classes */
.padded-xs {padding: 0.7%;}
.padded-sm {padding: 2%}
.padded {padding: 5%}
.padded-l {padding: 7%}
.padded-1 {padding: 1rem;}
.padded-2  {padding: 2rem;}
.padded-lf {padding-left: 1%}
.padded-r {padding-right: 1%}

.padded-text {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

.margin-0 {margin-bottom: 0;}
.margin-05{margin-bottom: 0.5rem;}
.margin-1 {margin-bottom: 1rem;}
.margin-2 {margin-bottom: 2rem;}
.margin-3 {margin-bottom: 3rem;}
.margin-l {margin-left: -2rem;}
.margin-t {margin-top: 2rem;}
.margin-r {margin-right: 2rem;}
.margin-l-small {margin-left: 2.5rem;}

.light {background-color: #ad9e9c;}
.dark {background-color: #60423e;}
.white {background-color: #fff;}

.foreground {z-index:1;}

/* Typography */
body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.2px;
}

.heading {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 0.75rem;
  font-size: 2.5rem;
  line-height: 1.3em;
} 

.big { font-size: 3.75rem;} 

.heading-menu {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #60423e;
} 

p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.2rem;
}

.p-menu {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.p-bold {font-weight: 700;}
.small {font-size: 1rem;}

.light-text {color: #fff}
.opacity {opacity: 0.7;}

.right {text-align: right;}
.center {text-align: center;}

a:hover {color: #998685;}

/* Button */
.button-white {
  text-decoration: none;
  background-color: white;
  border: 2px solid white; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: black
}

.button-white:hover {
  background-color: #998685;
  border: 2px solid #998685; 
  color: black}

.button-dark {
  text-decoration: none;
  background-color: #60423e;
  border: 2px solid #60423e; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: white
  }

.button-dark:hover {
  background-color: #998685;
  border: 2px solid #998685; 
  color: white}


/* Background Image Styles */
.bg-image {
  background-size: cover;
  background-position: center;
  background-color: #998685;
  background-repeat: no-repeat;
}

.position {background-position: 0px -620px;}
.position-2 {background-position: 0px -450px;}

.bg-banner {min-height: 40vh;}
.portrait-tall {padding-bottom: 175%;}
.portrait {padding-bottom: 133%;}
.square {padding-bottom: 100%;}
.landscape-normal {padding-bottom: 66%;}
.landscape-wide {padding-bottom: 56%;}
.landscape-small {padding-bottom: 42%;}
.landscape {min-height: 100vh;}
.bg-padded {padding-bottom: 30%;}

.bg-restaurant {background-image: url(/images/restaurant.jpg);}
.bg-eingang {background-image: url(/images/restauranteingang.jpg)}
.bg-table {background-image: url(/images/table.jpg)}
.bg-kueche {background-image: url(/images/restaurantkueche.jpg); min-height: 30vh;}
.bg-cateringtisch {background-image: url(/images/cateringtisch.jpg); min-height: 30vh;}
.bg-cateringhand {background-image: url(/images/cateringhand.jpg)}
.bg-catering {background-image: url(/images/catering.jpg)}
.bg-catering1 {background-image: url(/images/catering-1.jpg); min-height: 30vh;}
.bg-catering2 {background-image: url(/images/catering-2.jpg); min-height: 30vh;}
.bg-meal {background-image: url(/images/meal.jpg)}
.bg-mealkartoffel {background-image: url(/images/mealkartoffel.jpg)}
.bg-mealfleisch {background-image: url(/images/mealfleisch.jpg)}
.bg-wein {background-image: url(/images/wein.jpg)}
.bg-wein1 {background-image: url(/images/wein-1.jpg); min-height: 30vh;}
.bg-wein2 {background-image: url(/images/wein-2.jpg); min-height: 30vh;}
.bg-wein3 {background-image: url(/images/wein-3.jpg); min-height: 30vh;}
.bg-wein5 {background-image: url(/images/wein-5.jpg)}
.bg-map {background-image: url(/images/map.jpg)}
.bg-draussen {background-image: url(/images/draussen.jpg);}

.gallery [class*="col-"] {padding: 0.2%;}

/* Logo */
.bg-logo {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem 5rem;
}

/* Navigatin Bar */
.navigation {
  position: fixed;
  left: 25px;
  top: 25px;
  right: 25px;
  background-color: #fff;
  z-index: 201;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #60423e;
  padding: 0.7rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-highlight {
  margin-left: 11px;
  background-color: #ad9e9c;
}

.nav-highlight:hover {
  margin-left: 11px;
  background-color: #DAD3D3;
}

/* Burger Menu */
.burger-menu {
  display: flex;
  position: fixed;
  top: -100vh;
  left:0;
  right: 0;
  bottom: 100vh;
  text-align: center;
  padding:10%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 8;
  transition:1s;
  align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
  background-color: #fff
}

.burger-menu.active{
  top:90px;
  bottom:0;
  left: 25px;
  right: 25px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #60423e;
  display:block;
  padding: 1.5vh 5%;
  text-align:center;
  white-space:nowrap;
}

.burger-menu a:hover {
  color: #998685;
}

/* Burger Button */
.burger-button {
  position:fixed;
  top: 40px;
  right: 20px;
  z-index: 9;
  padding: 8.5px;
  cursor: pointer;
  margin: 2px;
}

.burger-button span{
  width: 40px;
  border: 2px solid #60423e;
  background-color: #60423e;
  display: block;
  border-radius: 22px;
  transition: 2s;
}

.burger-button.active span{
  border-color: #60423e;
  background-color:#60423e;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -01px;
}

.burger-bottom{
  bottom: -01px;
}

 .burger-button.active .burger-top{
  position: absolute;
  top: 8.5px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{

  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8.5px;
  transform: rotateZ(-45deg);
}

/* Filterable Menu */
.filterable-menu .bg-image {padding-bottom: 100%;}
.filterable-menu {  padding: 1rem;}
.filterable-menu [class*=col] {  padding: 0.4rem;}
.hidden { display: none; }

/* Menu Filter navigation */
.menu-filter span {
  font-family: 'Inter', sans-serif;
  padding: 1.2rem;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #998685;
}

.menu-filter span:hover {
  cursor: pointer;
  border-bottom: 1px solid #60423e; 
  color: #60423e; 
}

.menu-filter .active {
  color: black;
  border-bottom: 1px solid black;
  font-weight: 600;
}

.menu-filter .active:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: 600;
}



/* Slick Caroussel */
.slider-container {padding: -0.1%;}

.slider-item {display: none;}

.slider-item:first-child {display: block;}

.slick-next::before, .slick-prev::before {
  font-family: slick;
  font-size: 20px;
  /* line-height: 1; */
  opacity: .75;
  color: #fff;
}

.slick-slide {margin-bottom: -0.3rem;}

.slick-prev {left: 2%;}
.slick-next {right: 2%;}

/* Kontaktform */
form input, 
form textarea {
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
  /* border: 2px solid rgb(220,220,220); */
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
}

form input:focus,
form textarea:focus {
  border-color: black;
}

textarea {
  min-height: 4rem;
}

form label {
  margin-top: 1rem;
  display: block;
  color: black;
  font-weight: bold;
}

form button {
  background-color:#60423e;
  color: white;
  border: none;
  padding: 0.5rem 2rem;
  letter-spacing: 0.1em;
  margin: 0.5rem 0;
}

/* Checkbox */
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #60423e;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Responsive Design */
 
.mob-show {display: none;}

@media(max-width:64em) {
p {font-size: 1.1rem;}
.margin-l {margin-left: 0rem;}
.margin-t {margin-top: 0rem;}
.margin-2 {margin-bottom: 0rem;}
.margin-r {margin-right: 0rem;}
.big {font-size: 2.6rem;}
.heading {font-size: 2.25rem;}
.bg-catering {background-position: center;}
.bg-eingang {background-position: center;}
}

@media(max-width:48em) {
    .mob-hide {display: none;}
    .mob-show {display: block;}
    .mob-padded-t-0 {padding-top:0;}

    h1 {font-size: 6rem;}
    h1 span {font-size: 2rem;}
    p {font-size: 1rem;}
    footer a {font-size: 1rem;}
   .portrait {padding-bottom: 100%;}
   .small {font-size: 0.7rem;}
   .tiny {font-size: 0.7rem; padding: 0.4rem;}
   .burger-menu a {font-size: 1.2rem;}
   .heading {font-size: 24px;}
   .menu-filter span {padding: 0.5rem; font-size: 1rem; line-height: 2rem;}
   .heading-bg {font-size: 36px;}
}