* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

img { max-width: 100%; }

[class*=grid] {margin:0;}
[class*="col-"], [class*="col_"], [class~="col"] {padding: 0;}

html {scroll-behavior: smooth;}

/* Utility Classes */
.padded-xs {padding: 0.7%;}
.padded-sm {padding: 2%}
.padded {padding: 5%}
.padded-l {padding: 7%}
.padded-1 {padding: 1rem;}
.padded-2  {padding: 2rem;}

.padded-text {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

.margin-0 {margin-bottom: 0;}
.margin-05{margin-bottom: 0.5rem;}
.margin-1 {margin-bottom: 1rem;}
.margin-2 {margin-bottom: 2rem;}
.margin-l {margin-left: -2rem;}
.margin-t {margin-top: 2rem;}
.margin-b {margin-bottom: 2rem;}
.margin-r {margin-right: 2rem;}

.light {background-color: #ad9e9c;}
.dark {background-color: #60423e;}
.white {background-color: #fff;}

.foreground {z-index:1;}

/* Typography */
body {
  font-family: Inter, sans-serif;
  font-size: 1rem;
  letter-spacing: -0.2px;
}

p {
  font-weight: 400;
  line-height: 1.5em;
  font-size: 1.2rem;
}

.heading {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 42px;
  line-height: 1.3em;
} 

.heading-bg {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 60px;
  line-height: 1.3em;
} 

.heading-menu {
  font-family: 'PT Serif', serif;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1.5rem;
  font-size: 1.6rem;
  color: #60423e;
} 

.p-menu {
  margin-left: 1rem;
  margin-bottom: 2rem;
}

.p-bold {font-weight: 700;}


.light-text {color: #fff}

.right {text-align: right;}
.center {text-align: center;}

.small {font-size: 1rem;}

a:hover {color: #998685;}


.button-white {
  text-decoration: none;
  background-color: white;
  border: 2px solid white; 
  padding: 0.5rem 1rem;
  display: inline-block;
  font-weight: 400;
  color: black
}

.button-white:hover {
  background-color: #998685;
  border: 2px solid #998685; 
  color: black}

  .button-dark {
    text-decoration: none;
    background-color: #60423e;
    border: 2px solid #60423e; 
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 400;
    color: white
  }

  .button-dark:hover {
    background-color: #998685;
    border: 2px solid #998685; 
    color: white}

/* Background Image Styles */
.bg-image {
  background-size: cover;
  background-position: center;
  background-color: #998685;
  background-repeat: no-repeat;
}

.bg-banner {min-height: 40vh;}
.position {background-position: 0px -620px;}

.portrait-tall {padding-bottom: 175%;}
.portrait {padding-bottom: 133%;}
.square {padding-bottom: 100%;}
.landscape-normal {padding-bottom: 66%;}
.landscape-wide {padding-bottom: 56%;}
.landscape-small {padding-bottom: 42%;}
.landscape {min-height: 100vh;}
.bg-padded {padding-bottom: 30%;}

.bg-restaurant {background-image: url(/images/restaurant.jpg);}
.bg-table {background-image: url(/images/table.jpg)}
.bg-kueche {background-image: url(/images/restaurantkueche.jpg); min-height: 30vh;}
.bg-cateringtisch {background-image: url(/images/cateringtisch.jpg)}
.bg-cateringhand {background-image: url(/images/cateringhand.jpg)}
.bg-catering {background-image: url(/images/catering.jpg)}
.bg-catering1 {background-image: url(/images/catering-1.jpg)}
.bg-catering2 {background-image: url(/images/catering-2.jpg)}
.bg-meal {background-image: url(/images/meal.jpg)}
.bg-mealkartoffel {background-image: url(/images/mealkartoffel.jpg)}
.bg-mealfleisch {background-image: url(/images/mealfleisch.jpg)}
.bg-wein {background-image: url(/images/wein.jpg)}
.bg-wein1 {background-image: url(/images/wein-1.jpg)}
.bg-wein2 {background-image: url(/images/wein-2.jpg)}
.bg-wein3 {background-image: url(/images/wein-3.jpg)}
.bg-map {background-image: url(/images/map.jpg)}

.gallery [class*="col-"] {padding: 0.2%;}

/* Logo */
.bg-logo {
  background-image: url(/images/logo.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.5rem 5rem;
}

/* Navigatin Bar */
.navigation {
  position: fixed;
  left: 25px;
  top: 25px;
  right: 25px;
  background-color: #fff;
  z-index: 201;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #60423e;
  padding: 0.7rem;
  cursor: pointer;
  font-weight: 500;
}

.nav-highlight {
  margin-left: 11px;
  background-color: #ad9e9c;
}

.nav-highlight:hover {
  margin-left: 11px;
  background-color: #DAD3D3;
}

/* Burger Menu */
.burger-menu {
  display: flex;
  position: fixed;
  top: -100vh;
  left:0;
  right: 0;
  bottom: 100vh;
  text-align: center;
  padding:10%;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  z-index: 8;
  transition:1s;
  align-content:space-around;
  justify-content:space-around;
  flex-direction:column;
  background-color: #fff
}

.burger-menu.active{
  top:90px;
  bottom:0;
  left: 25px;
  right: 25px;
}

.burger-menu a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #60423e;
  display:block;
  padding: 1.5vh 5%;
  text-align:center;
  white-space:nowrap;
}

.burger-menu a:hover {
  color: #998685;
}

/* Burger Button */
.burger-button {
  position:fixed;
  top: 40px;
  right: 20px;
  z-index: 9;
  padding: 8.5px;
  cursor: pointer;
  margin: 2px;
}

.burger-button span{
  width: 40px;
  border: 2px solid #60423e;
  background-color: #60423e;
  display: block;
  border-radius: 22px;
  transition: 2s;
}

.burger-button.active span{
  border-color: #60423e;
  background-color:#60423e;
}

.burger-top, .burger-bottom{
  position: absolute;
}

.burger-top{
  top: -01px;
}

.burger-bottom{
  bottom: -01px;
}

 .burger-button.active .burger-top{
  position: absolute;
  top: 8.5px;
  transform: rotateZ(45deg);
}

.burger-button.active .burger-middle{

  border-color: rgba(0,0,0,0);
  background-color:rgba(0,0,0,0);
}

.burger-button.active .burger-bottom{
  position: absolute;
  bottom: 8.5px;
  transform: rotateZ(-45deg);
}

/* Filterable Menu */
.filterable-menu .bg-image {padding-bottom: 100%;}
.filterable-menu {  padding: 1rem;}
.filterable-menu [class*=col] {  padding: 0.4rem;}
.hidden { display: none; }

/* Menu Filter navigation */
.menu-filter span {
  font-family: 'Inter', sans-serif;
  padding: 1.2rem;
  font-weight: 400;
  margin-bottom: 12px;
  font-size: 1.2rem;
  color: #998685;
}

.menu-filter span:hover {
  cursor: pointer;
  border-bottom: 1px solid #60423e; 
  color: #60423e; 
}

.menu-filter .active {
  color: black;
  border-bottom: 1px solid black;
  font-weight: 600;
}

.menu-filter .active:hover {
  color: black;
  border-bottom: 1px solid black;
  font-weight: 600;
}



/* Slick Caroussel */
.slider-container {padding: -0.1%;}

.slider-item {display: none;}

.slider-item:first-child {display: block;}

.slick-next::before, .slick-prev::before {
  font-family: slick;
  font-size: 20px;
  /* line-height: 1; */
  opacity: .75;
  color: #fff;
}

.slick-slide {margin-bottom: -0.3rem;}

.slick-prev {left: 2%;}
.slick-next {right: 2%;}

/* Responsive Design */
 
.mob-show {display: none;}

@media(max-width:64em) {
.margin-l {margin-left: 0rem;}
.margin-t {margin-top: 0rem;}
.margin-b {margin-bottom: 0rem;}
.margin-r {margin-right: 0rem;}
}

@media(max-width:48em) {
    .mob-hide {display: none;}
    .mob-show {display: block;}
    .mob-padded-t-0 {padding-top:0;}

    h1 {font-size: 6rem;}
    h1 span {font-size: 2rem;}
    footer a {font-size: 1rem;}

    .portrait {padding-bottom: 100%;}
}