---
layout: default
title: Wein für Daheim
weisswein:
  - name: 2017 Gutriesling - trocken (Schönleber-Blümlein, Rheingau) 
    inhalte: Dieser Wein ist frisch und fruchtig und passt eigentlich immer, auch einfach mal so.
    preis: -- | 7,50- €
  - name: 2017 Gutriesling - feinherb (Schönleber-Blümlein, Rheingau) 
    inhalte: Wer es nicht ganz so trocken mag, liegt mit diesem spritzigen halbrockenen Wein genau richtig.
    preis: -- | 7,50- €
  - name: 2018 Chardonnay - trocken (H.J. Ernst, Rheingau)
    inhalte: Ein mineralischer, feinfruchtig, cremiger Chardonnay, der frisch und saftig daherkommt. Er hat eine leichte Säure, ist harmonisch im Abgang und ein guter Begleiter für alle Gerichte
    preis: 7,50- € | -- 
  - name: 2018 Grauburgunder - trocken (H.J.Ernst Rheingau)
    inhalte: Ein klassicher, säurearmer Burgunder mit kräftigen, mineralischen Noten, der gerne zu Fisch- und Geflügelgerichten gewählt wird. 
    preis: 7,50- € | -- 
  - name: 2017 Riesling Classic - trocken (H.J. Ernst Rheingau)
    inhalte: Ein klassicher, feinfruchtiger und herzhafter Riesling, sehr harmonisch und mit einer feinen Restsüße. Dieser Weißwein hat ein klares Riesling-Bukett und schmeckt ein wenig nach Zitrusfrüchten
    preis: 6,90- € | -- 
  - name: 2017 Blanc de Noirs Spätburgunder - trocken (H.J. Ernst Rheingau)
    inhalte: Ein Spätburgunder - weiß gekeltert! Dieser Wein verfügt über eine herrliche Spätburgunder -Aromatik, die mit der Lebendigkeit und Frische eines Weißweins daherkommt
    preis: 7,50- € | --
  - name: 2020 Chardonnay - trocken (Markus Schneider, Pfalz)
    inhalte: Ein frischer, zartgelber und herrlich gelungener Weißwein mit Aromen von exotischen Früchten wie Banane und Guave. Mineralische Nuancen kommen dazu. Auf der Zunge und am Gaumen ist der Schneider-Chardonnay ein weicher und milder Wein mit würzigen feinfruchtigem Charakter und einem langen eleganten Abgang
    preis: 11,50- € | --
  - name: 2020 Cuvee "Trinkfluss" - trocken (Axel Pauly, Mosel)
    inhalte: Eine leichte Weißwein-Cuvée aus elegantem Weißburgunder, spritzigem Elbling und Reisling. Der ehrliche Moselwein kommt mit einer milden Säure und wenig Alkohol daher und bereitet viel Trinkfreude.
    preis: 7,50- € | --
  - name: 2020 Weißburgunder - trocken (Axel Pauly, Mosel)
    inhalte: Reife Birne gepaart mit Schiefer-Mineralität und einer erfrischenden Säure, machen diesen harmonischen Weißburgunder zu einer tollen Riesling-Alternative. Ein Teil der Trauben wird im Barriquefass vergoren, was dem Wein eine gehörige Portion Rückrat verleiht. 
    preis: 8,90- € | --
  - name: 2020 Riesling "Generations" - halbtrocken (Axel Pauly, Mosel)
    inhalte: Ein typisch mineralischer Mosel-Riesling, der alle drei Generationen des Weinguts Pauly vereint und unwiderstehlichen Trinkspaß bietet.
    preis: 8,50- € | --
  - name: 2020 Riesling "Tres Naris" (drei Nasen) - trocken (Axel Pauly, Mosel)
    inhalte: Der Tres Naris repräsentiert den modernen und authentischen Stil des Weinguts. Der frische und saftige Fruchtgeschmack verführt mit der wunderschönen glasklaren Struktur immer zum nächsten Glas. 
    preis: 8,50- € | --
  - name: 2020 Riesling "Purist" - trocken (Axel Pauly, Mosel)
    inhalte: Ein klassicher, feinfruchtiger und herzhafter Riesling, sehr harmonisch und mit einer feinen Restsüße. Dieser WEißwein hat ein klares RieslingßBukett und schmeckt ein wenig nach ZitrusfrüchtenRiesling in seiner reinsten Form - klar und puristisch und einer unserer Lieblinge. Es ist ein toller Wein für alle "Trockenliebhaber" die müde von all den Alkohol- und Fruchtbomben sind. 
    preis: 9,50- € | --
  - name: 2018 Eltviller Taubenberg Riesling Sekt - extra trocken (H.J. Ernst, Rheingau)
    inhalte: Ein Sektgenuss mit klaren Traubenaromen und feiner Restsüße, der zu unkompliziertem Trinkgenuss einlädt.
    preis: 7,90- € | --
rotwein:
  - name: 2015 Pinot Noir "Mittelheimer St. Nikolaus" - trocken (Schönleber-Blümlein, Rheingau)
    inhalte: Dieser Pinot Noir ist intensiv-leuchtend Rot,hat eine präsente Tannin Struktur und duftet nach Brombeeren.
    preis: 9,90- € | --
  - name: 2020 Cuvee "Black Print" - trocken (Markus Schneider, Pfalz)
    inhalte: Der Black Print ist Markus Schneiders Ikone. Hier ist der Name Programm, tief dunkel wie schwarze Tinte. Die Cuvee aus Merlot, Cabernet und Syrah ist ein umwerfend charmanter Wein. Man denkt an Blaubeeren, Brombeeren, schwarze Kirsche und Schokolade und auch etwas Vanille u nd Eichenholz. Dieser üppige Rotwein verbindet harmonische Eleganz und Kraft und bereitet großen Tringenuss. Ein ganz großer Wein aus der Pfalz den Sie probieren 
    preis: 15,50- € | --
  - name: 2020 Cuvee "Tohuwabohu" - trocken (Markus Schneider, Pfalz)
    inhalte: Tohuwabohu, die größtmögliche Unordnung hat Markus Schneider seinem ersten Kind Nicolaus gewidmet. Der Name lässt schon erahnen, was da im Glas auf dern ersten Schluss wartet. Konzentrierte Aromen von Cassis, Pflaumen, Heidelbeeren und Himbeeren verbinden sich mit würzigen Noten von Pfeffer, rotem Paprika, Thymian und Fichtnnadeln. Der Geschmack ist wuchtig und zupackend mit tiefer Frucht und massiven Tanninen
    preis: 20,00- € | --
  - name: 2016 Cuvee K+K - trocken (K+K Kirnbauer, Burgenland)
    inhalte: Eine wunderbare Cuvee aus Blaufränkisch, Merlo, Cabernet, Zweigelt und Syrah. Weinkennern ist dieser Wein als "kleines Phantom" bekannt. Das Aroma erinnert an Brombeeren udn Kirschen. Durch den weichen und molligen Abgang können Sie das "kleine Phantom" auch abends einfach so genießen.
    preis: 8,50- € | --
  - name: 2018 Zweigelt "Joe" - trocken (Josef Dockner, Kremstal)
    inhalte: Ein sortenreiner Zweigelt, der im Eichenfass ausgebaut wurde und dadruch eine schöne holzige und Note mitbringt. Der rubinrote Österreicher besticht mit seinem Geschmack von dunklen Beeren, reifen Zwetschgen und saftigen Kirschen. Eine zarte Note von Kräutergewürzen und ein Hauch Schokolade im Finish runden das Ganze ab.
    preis: 12,00- € | --
  - name: 2017 Garnacha und Carinena "Onix Classic" - trocken (Vinicola del Priorat, Katalonien)
    inhalte: Am Gaumen entfaltet dieser purpurrote Wein mit violetten Reflexen ein intensives Fruchtaroma von Waldbeeren, Schwarzkirsche und Pflaume. Unterlegt mit feinen mineralischen Komponenten und mediterranen Kräutern (Rosmarin, Lavendel, Minze) ein toller animierender Wein mit einem charmanten Finish.
    preis: 11,50- € | --
  - name: 2014 Cuvee "Fabelhaft" - trocken (Dirk Niepoort, Douro)
    inhalte: Dieser Wein ist sehr ausgewogen und zugänglich. Er symbolisiert Lebensfreude, gutes Essen, gute Freunde, das süße Leben... Einfach ein fabelhafter Wein. Unbedingt probieren!
    preis: 9,50- € | --
  - name: 2018 Spätburgunder Weißherbst - halbtrocken (H.J. Ernst, Rheingau)
    inhalte: Ein frischer fruchtig beeriger Roséwein aus dem Rauenthaler Steingemächer mit einer dezenten Süße. Genießen Sie ihn an einem schönen Sommerabend auf unserer Terrasse oder zu Pasta, Aufläufen, Gegrilltem, Fisch, Geflügel oder mediterranem Gemüse.
    preis: -- | 8,50- €
---   
    <!-- Welcome Banner -->
    <div class="bg-image bg-banner bg-wein"></div>

    <!-- Textbox-Foto Section -->
    <section class="grid padded-text">
        <div class="col-5_md-12-middle padded dark light-text margin-2 foreground" data-aos="zoom-in-up">
            <h2 class="heading editable">Wein für Daheim.</h2>
            <p class="margin-1 editable">Es ist so weit...</p>
            <p class="margin-1 editable">Ab sofort können Sie bei uns eine Auswahl an Weinen zum "Mitnahmepreis" erwerben. Schauen Sie gerne in unserer Wein-Boutique vorbei und lassen sich inspirieren.</p>
            <p class="margin-1 editable">Wir beraten Sie gerne!</p>
        </div>
    
        <div class="col-7_md-12 bg-image bg-wein1 padded margin-l margin-t" data-aos="zoom-in-up"></div>
    </section>

    <!-- Weissweine & Perlweine -->
    <div class="grid">
        <div class="col-3"></div>
        <div class="col-6_sm-12 center padded">
            <h3 class="heading editable"> Weißweine & Perlweine</h3>
            {% for item in page.weisswein %}
            <div class="editable p-menu">
                <p class="margin-0 menu-margin menu-text p-bold"> {{item.name}} </p>
                <p class="small-text"> {{item.inhalte}}  </p>
                <p class="price"> {{item.preis}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>

    <!-- Trenn Banner -->
    <div class="bg-image bg-banner bg-wein2"></div>
  
    
    <!-- Rotweine & Roseweine -->
    <div class="grid">
        <div class="col-3"></div>
        <div class="col-6_sm-12 center padded">
            <h3 class="heading margin-t editable"> Rotweine & Roséweine</h3>
            {% for item in page.rotwein %}
            <div class="editable p-menu">
                <p class="margin-0 menu-margin menu-text p-bold"> {{item.name}} </p>
                <p class="small-text"> {{item.inhalte}}  </p>
                <p class="price"> {{item.preis}}</p>
            </div>
            {% endfor %}
        </div>
        <div class="col-3"></div>
    </div>

    <!--  Foto - Textbox Section -->
    <section class="grid light padded-text">
        <div class="col-7_md-12 bg-image bg-wein3 padded margin-2" data-aos="zoom-in-up"></div>
    
        <div class="col-5_md-12-middle white padded margin-l margin-t" data-aos="zoom-in-up">
            <h2 class="heading editable">Haben Sie Appetit bekommen?</h2>
            <p class="margin-1 editable"> Gerne begrüßen wir Sie bei uns im Kulinaria, um die hier aufgeführten Weine direkt zu unserern wöchentlich wechselnden Speisen zu genießen. </p>
            <a href="/menu.html" class="button-dark"> Unsere Speisekarte </a>
        </div>
    </section>
