<nav class="navigation grid">
    <div class="col-3 padded-xs">
        <a href="/index.html">
            <div class="bg-logo"></div>
        </a>     
    </div>

    <!-- Standard Navigation -->
    <div class="col-9 padded-xs mob-hide right">
        <a href="/menu" class="nav-link">Menü</a>
        <a href="/wein" class="nav-link">Wein für Daheim</a>
        <a href="/catering" class="nav-link">Catering</a>
        <a href="/info" class="nav-link">Öffnungszeiten & Anfahrt</a>
        <a href="/contact.html" class="nav-link nav-highlight">Kontakt</a>
    </div>

    <!-- Mobile Nav -->
    <div class="col-9 center mob-show">
        <div class="burger-button">
            <span class="burger-top"></span>
            <span class="burger-middle"></span>
            <span class="burger-bottom"></span>
        </div>
    </div>

    <div class="burger-menu">
            <a href="/menu">Menü</a>
            <a href="/wein">Wein für Daheim</a>
            <a href="/catering">Catering</a>
            <a href="/info">Öffnungszeiten & Anfahrt</a>
            <a href="/contact.html" class="nav-highlight">Kontakt</a>
    </div>
</nav>