 <!-------------------------Footer ---------------------------------------------------->
 <footer class="padded-text grid-spaceBetween">
    <div class="col-6_xs-12 margin-1">
        <div class="col-3 padded-xs">
            <div class="bg-logo"></div>
        </div>
        <p class="margin-1 small opacity editable">Tel:(0157) 826 592 20 <br>Hauptstraße. 29a | 56410 Hundsangen</p>
        <p class="small opacity editable">© Kulinaria - Copyright 2022. <br>Design + Built: J.Kraus Design</p>
    </div>
    <div class="col-2_xs-3 small">
        <a href="/menu" class="nav-link tiny">Menü</a><br>
        <a href="/wein" class="nav-link tiny">Wein für Daheim</a><br>
        <a href="/catering" class="nav-link tiny">Catering</a><br>
        <a href="/info" class="nav-link tiny">Öffnungszeiten & Anfahrt</a><br>
        <a href="/contact.html" class="nav-link tiny">Kontakt</a>
    </div>
    <div class="col-2_xs-3 small">
        <a href="/datenschutz" class="nav-link tiny">Datenschutz</a><br>
        <a href="/impressum" class="nav-link tiny">Impressum</a>
    </div>
    <div class="col-2_xs-3 small">
        <a href="www.facebook.com" class="nav-link tiny">Facebook</a><br>
        <a href="www.instagram.com" class="nav-link tiny">Instagram</a>
    </div>
</footer>
